/* FONTS */
@font-face {
    font-family: B612_Mono;
    src: url(fonts/B612_Mono/B612Mono-Regular.ttf);
}

@font-face {
    font-family: B612_Mono_Bold;
    src: url(fonts/B612_Mono/B612Mono-Bold.ttf);
}

@font-face {
    font-family: Lato_Bold;
    src: url(fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat/Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0 10px 20px 10px;
    background: #1D1D1E;
    color: white;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px 20px;
    grid-auto-rows: 100px;
}

.video-wiki-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 5px;
    align-items: center;
    background: lightslategray;
}

.video-wiki-container img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.text-wrapper h4 {
    margin: 0;
    font-family: 'B612_Mono', sans-serif;
}

.video-wiki-modal {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 80vw;
    top: 2em;
    left: 10%;
    right: 10%;
    bottom: 2em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background: rgba(255, 255, 255, 0.90);
    overflow: scroll;
    transition: opacity 1s;
    z-index: 10;
}

.video-wiki-modal h2 , .wiki-title{
    font-family: 'Lato', sans-serif;
}

.wiki-desc {
    font-family: 'Montserrat', sans-serif;
}

.wiki-link {
    font-family: 'Montserrat', sans-serif;
}

.video-wiki-container {
    cursor: pointer;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.74);
    cursor: pointer;
}
/* Helper */

.shown {
    visibility: visible;
    opacity: 1;
}